---
import Navigation from '../components/Navigation.astro';
import Container from '../components/Container.astro';
import '../styles/global.css';

// Layout props interface
interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "Fer Tostado's personal website - Web Developer and Software Engineer" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col bg-blue-900 dark:bg-gray-800 font-color--primary">
    <Navigation />
    <main class="flex-grow">
      <Container>
        <slot />
      </Container>
    </main>
    <footer class="flex w-full flex-col items-center bg-white/10 text-center">
      <Container classNames="my-0">
        <div class="p-6 text-center">
          <span>© {new Date().getFullYear()} Copyright:</span>
          <a href="/" class="ml-2 font-semibold">Fer Tostado</a>
        </div>
      </Container>
    </footer>
  </body>
</html>
